* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-image: linear-gradient(to right bottom, rgb(255, 236, 239), rgb(251, 145, 145));
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-image: linear-gradient(to right bottom, rgb(250, 155, 169), rgb(221, 217, 96));
    padding: 2rem 5rem;
    width: 40rem;
    margin: 5rem auto;
    text-align: center;
    border-radius: 5rem;
    box-shadow: 0 2rem 10rem rgba(0,0,0, .2);
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 2rem;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
}

.container__list {
    font-weight: 300;
}

#input {
    margin-right: 3rem;
    padding: .5rem;
    font-size: 2rem;
}

#list {
   margin: 3rem 0;
}

li {
    list-style: none;
    font-size: 2rem;
    margin: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkbox {
    height: 1.7rem;
    width: 1.7rem;
}

#todoitem {
    font-size: 2.2rem;
}

button {
    font-size: 1.8rem;
    text-transform: ;
    background-color: rgb(119, 109, 141);
    border: none;
    padding: .6rem 1rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: 100;

    cursor: pointer;
}

#addbtn {
    font-size: 2.5rem;
}

#editbtn {

}

#rmbtn {

}